.password-buttons {
  display: block;
  text-align: right;
  margin-top: -33px;

  button {
    background-color: transparent;
    color: white;
    font-size: 27px;
    margin: 0px 15px;
    cursor: pointer;
  }
}

.password-buttons.view {
    margin-top: 20px;
}