.nav-login-btn {
  a {
    display: block;
    width: 24px;
    overflow: hidden;
    height: 30px;
    line-height: 150%;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    color: #eff0f2;
  }
}
